*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    height: 10rem;
}

.rock{
    width: 20rem;
}

.scissors{
    margin-left: 6rem;
    margin-top: 3rem;
}

.score{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0 0 18rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}